
@{
    ViewBag.Title = "Success";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
}

    <div style="margin-top: 5rem;">
        <h1 class="text-center">Mua gói vip thành công</h1>
    </div>
