@{

    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
    string email = ViewBag.email;
}

    <div id="content" class="container">
        <form action="@Url.Action("ResetPassword")" method="post">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-example-wrap mg-t-30">
                    <div class="cmp-tb-hd cmp-int-hd">
                        <h2>Đổi mật khẩu</h2>
                    </div>
                    <div class="form-example-int form-horizental">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Mã số bí mật</label>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" name="serectCode" class="form-control input-sm" placeholder="Gửi trong email mà bạn đã đưa để đổi mật khẩu" required >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Mật khẩu mới</label>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="password" name="newPassword" required class="form-control input-sm" style="font-size: 14px;" placeholder="Mật khẩu mới">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int mg-t-15">
                        @if (TempData["errors"] != null)
                        {
                        <p class="text-center text-danger">@TempData["errors"]</p>
                        }
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            </div>
                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                <input type="hidden" name="email" value="@email">
                                <input type="submit" class="btn btn-success notika-btn-success waves-effect" value="Đổi">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
